.referencilya{
    position: absolute;
    top: 5000px;
    left: 450px;
}
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #58585c; /* Dark background color */
    outline-style: outset;
    outline-width: thick;
    outline-color: #14fbff;

    z-index: 1;

    position: fixed;
    top: 0;
    left:0;
    width:100%;
}

/* Style the navigation bar links */





.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */

}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #f8f9ff; /* Grey background color */
    color: #000a53; /* Black text color */
}
.eee{
    position: fixed;
    top: 50px;
}
.eee2{
    position: fixed;
    top: 150px;
}
.backgroundvid{
    position: fixed;
    left: 0px;

}